::after
::before{
    margin: 0;
    padding: 0;
}

body {
    background:#0e0101f1 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: wheat;
    
    
}

main {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: wheat;
}

.count{
    font-size: 7.3rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: space-between;

}

button {
   width: 56px;
   margin: 10px;
   color: black;
    
}